# Redis
REDIS_IMAGE=redis:7.0-alpine
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_URL=redis://redis:6379
REDIS_CONTAINER_NAME=hng14-redis
REDIS_CPU_LIMIT=0.25
REDIS_MEMORY_LIMIT=600M

# API
API_IMAGE=<registry>/<image>:latest
API_CONTAINER_NAME=hng14-api
API_HOST_PORT=8000
API_SERVICE_PORT=8000
CORS_ORIGINS=http://localhost:3000
API_CPU_LIMIT=0.25
API_MEMORY_LIMIT=500M

# Frontend
FRONTEND_IMAGE=<registry>/<image>:latest
FRONTEND_CONTAINER_NAME=hng14-frontend
FRONTEND_HOST_PORT=3000
FRONTEND_SERVICE_PORT=3000
API_URL=http://api:8000
FRONTEND_CPU_LIMIT=0.25
FRONTEND_MEMORY_LIMIT=500M

# Worker
WORKER_IMAGE=<registry>/<image>:latest
WORKER_CONTAINER_NAME=hng14-worker
WORKER_DELAY=2
WORKER_CPU_LIMIT=0.25
WORKER_MEMORY_LIMIT=500M

# Application
APP_ENV=production
